h1{
     color: rgb(255, 255, 255);
     text-align: center;
     font-size: 30px;
     padding: 0 0 15px;
}

.loginbox input[type="text"], input[type="password"] {
  outline: none;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  
}

.container-invitation {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}

:placeholder-shown{
  text-align: center; 
}

.loginbox button[id="submitbutton"] {
  outline: none;
  border: none;
  height: 30px;
  background: #7798af;
  color: rgb(77, 77, 77);
  font-size: 16px;
  border-radius: 10px;
}

.loginbox button[id="submitbutton"]:hover {
  cursor:pointer;
  background: #5a819c;
  color: #000;
}

body{
  margin: 0;
  padding: 0;
  background: url(pic.jpg) no-repeat center center fixed;
  max-width: fit-content;
  max-height: 100%;
  max-width: 100%;
  font-family: sans-serif;
  background-size: auto; 
  background-repeat:  no-repeat;

  
}

 
.loginbox
{
  width: 320px;
  height: 420px !important;
  background:linear-gradient(rgb(89, 131, 214) 20%,rgb(180, 233, 227) 80%); 
  opacity: 0.9;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  
}
#form_login {
  left: 70%;
  top: 150px;
  position: absolute;
  margin-top: -25%;
}

.avatar
{
  width: 100px;
  height: 100px;
  position: absolute;
  top: -20px;
  left: -20px;
  right: 0;
  /* border-radius: 50%; */
}
.avatar > img {
  max-width: 100%;
  max-height: 100%;
}

/* .loginbox-content
{
 position: static;
 left: 0;
 top: 0;
 height: 100%;
 width: 100%;

} */

@media (max-width: 320px) {

  .loginbox{
    width: 220px;
    position: absolute;
    background: linear-gradient(rgb(169, 202, 231) 20%,rgb(32, 112, 103) 80%) !important;
  }
  .form_login {
    width: 75%;
    /* position: static; */
  }
  input[type=text]{
    max-width: 65%;
  }
  input[type=password]{
    max-width: 65%;
  }
}
